<%= render partial: "navbar" %>
<%= render partial: "sign_in" %>
<div class="container" id="top">
  <main class="top-section">
    <div class="fixed-title">
      <h1 class="logo_title_top">Team<span class="gathering">Gathering</span></h1>
      <p class="medium">
        Gather Your Ideas  •  Gather Your Projects  •  Gather Your Team
      </p>
    </div>
  </main>
</div>
<main class="center second" id="get_started">
  <h1 class="logo_title">Get<span class="gathering">Started</span></h1>
  <p class="medium">
    Innovate • Team Up • Create
  </p>
  <br><br>
  <section class="row center_div">
    <a href="#">
    <div class="option_box col-md-4">
      <h1>Sign Up</h1>
      <span class="glyphicon glyphicon-user large" aria-hidden="true"></span>
    </div>
    </a>
    <a href="/users">
    <div class="option_box col-md-4">
      <h1>Start a Team</h1>
      <span class="glyphicon glyphicon-bullhorn large" aria-hidden="true"></span>
    </div>
    </a>
    <a href="/projects">
    <div class="option_box col-md-4">
      <h1>Join a Team</h1>
      <span class="glyphicon glyphicon-list-alt large" aria-hidden="true"></span>
    </div>
    </a>
  </section>
</main>
<section class="row">
  <div class="line-right col-md-6">
  </div>
</section>
<div class="center second" id="gather_ideas">
  <a href="/projects">
    <h1 class="logo_title">Gather<span class="gathering">Ideas</span></h1>
  </a>
  <div class="col-sm-offset-1">
    <img src="assets/motorcycle_wire.jpg" align="right" height="250"/>
    <p class="large regular">Whether you have an idea, an invention or blueprint, you can show off your idea at TeamGathering and start recruiting teammembers for your project.</p>
  </div>
</div>
<section class="row">
  <div class="line-right col-md-6">
  </div>
</section>
<div class="center second" id="gather_team">
  <a href="/users">
    <h1 class="logo_title">Gather<span class="gathering">Teammembers</span></h1>
  </a>
  <div>
    <img src="assets/group_picture.jpg" align="left" height="300" />
    <p class="large regular">At TeamGathering you can connect with inventors, developers and some of the best professionals in the industry to create exciting products that you would struggle to complete on your own.  Connect with new teammembers today! </p>
  </div>
</div>
<section class="row">
  <div class="line-right col-md-6">
  </div>
</section>
<div class="footer center regular">
  <section class="center_div">
    <div class="line-break col-sm-offset-2 col-md-8">
    </div>
    <div class="col-sm-offset-2 col-md-2">
      <span class="footer-heading">TeamGathering</span>
      <p>Press</p>
      <p>Blog</p>
      <p>Jobs</p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">About Us</span>
      <p>Company</p>
      <p>Our Mission</p>
      <p>Our Team</p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Connect</span>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Linkedin</p>
    </div>
    <div class="col-md-2">
      <span class="footer-heading">Support</span>
      <p>Help</p>
      <p>Terms and Conditions</p>
      <p>Contact Us</p>
    </div>
  </section>
</div>