<%= render partial: "navbar" %>
<div class="container tile-background regular">
  <div class="main-page col-sm-offset-1 col-md-12">
    <div class="main-content col-md-7">
      <h1>The Gathering</h1>
      <li class="list-group-item">
        <img src="assets/office_img.jpeg" class="project-thumb" />
        <div>
          Contents
        </div>
      </li>
      <li class="list-group-item">
        <div class="">
          Contents
        </div>
      </li>
      <li class="list-group-item">
        <div class="">
          Contents
        </div>
      </li>
      <li class="list-group-item">
        <div class="">
          Contents
        </div>
      </li>
      <li class="list-group-item">
        <div class="">
          Contents
        </div>
      </li>
      <li class="list-group-item">
        <div class="">
          Contents
        </div>
      </li>
    </div>
    <div class="main-right-sidebar col-md-3">
      <h2>Your Projects</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 1
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 2
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 3
        </div>
      </div>
    </div>
  </div>
</div>