<%= render partial: "navbar" %>
<div class="container tile-background">
  <div class="main-page col-md-12">
    <div class="container">
    <div class="col-md-4">
      <h1>My Profile</h1>
      <p>Name:</p>
      <p>Education:</p>
      <p>Experience</p>
      <p>Completed Projects:</p>
      <p>Rating</p>
      <a href="#">Edit</a>
      <br><br>
      <h2>About Me</h2>
      <p>I am awesome</p>
    </div>
    <div class="col-md-6">
      <h1>My Current Teams</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          Team 1
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Team 2
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Team 3
        </div>
      </div>
    </div>
    </div>
  </div>
</div>