<%= render partial: "navbar" %>
<div class="container">
  <div class="main-page col-sm-offset-1 col-md-12">
    <div class="main-content col-md-7">
      <h1>Open Projects</h1>
      <br>
      <p>Project 1</p>
      <br>
      <p>Project 2</p>
      <br>
      <p>Project 3</p>
      <br>
      <p>Project 4</p>
    </div>
    <div class="main-right-sidebar col-md-3">
      <h2>Your Projects</h2>
    </div>
  </div>
</div>