<%= render partial: "navbar" %>
<div class="container">
  <div class="main-page col-sm-offset-1 col-md-12">
    <div class="main-content col-md-7">
      <h1>Open Projects</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 1
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 2
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 3
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 4
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 5
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 6
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 7
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 8
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 9
        </div>
      </div>
    </div>
    <div class="main-right-sidebar col-md-3">
      <h2>Your Projects</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 1
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 2
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Project 3
        </div>
      </div>
    </div>
  </div>
</div>