body {
  background-image: url('denmark.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin-top: 8%;
}

section {
  font-family: 'BenchNine', sans-serif;
}

.center {
  text-align: center;
}

.logo {
  font-size: 2em;
  font-family: 'BenchNine', sans-serif;
}

.logo_title_top {
  font-size: 7em;
  font-family: 'BenchNine', sans-serif;
  /*color: white;*/
}

.logo_title {
  font-size: 5em;
  font-family: 'BenchNine', sans-serif;
}

.gathering {
  font-family: 'Satisfy', cursive;
}

.medium {
  font-size: 1.5em;
}

.large {
  font-size: 3em;
}

.block {
  display: inline-block;
}

.top-section {
  height: 700px;
  padding: 15%;
}

.second {
  background-color: rgba(255,255,255,0.9);
  padding: 8%;
  box-shadow: 0 10px 2px -2px;
}

.line-right {
  height: 600px;
  border-right: solid white;
}

.fixed-title {
  z-index: -1;
  position: fixed;
}

.regular {
  font-family: 'BenchNine', sans-serif;
}

.script {
  font-family: 'Satisfy', cursive;
}

.footer {
  width: 100%;
  background-color: #545454;
  min-height: 200px;
  color: #E5E5E5;
  font-size: 1.25em;
}

.footer-heading {
  color: #8C8C8C;
}

.line-break {
  height: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid #8C8C8C;
}